<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marketing Analytics</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/vendors/feather/feather.css">
  <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/css/lasso.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav navbar-nav-right">
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="../static/images/faces/di.jpg">
          </div>
          <div class="user-name">
              Tim Johnson
          </div>
          <div class="user-designation">
            Marketing Analytics
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon-target menu-icon"></i>
              <span class="menu-title">Welcome!</span>
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/segmentation">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Segmentation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-command menu-icon"></i>
              <span class="menu-title">Revenue Prediction</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/revpredict">User Rev. Predict</a></li>
                <li class="nav-item"> <a class="nav-link" href="/timepredict">Time Series Predict</a></li>
                </ul>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documentation">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Customer & Campaign Segmentation</h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-12 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Customer Cluster Analysis</h4>
                        <div class="col-md-12">
                          <div class="row">                        
                          <div id="scatter">
                            <!-- We append our D3 chart here. -->
                          </div>
                          </div>
                          <form method="POST" action="/send_mail/" role="form", name="email">
                           <input type="submit" value="submit" class="btn btn-default">
                          </form>
                          <!-- <p>something about this page here</p> -->
                          <div class="row mt-5">
                            <div class="col-md-6">
                              <div class="dropdown row">
                                <label class="col-sm-3">Choose a cluster view:</label>
                                <div class="col-sm-9">
                                  <select class="form-control" onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);"> 
                                    <option value="../static/images/customer_cluster.png">Customer Cluster by Visit Number</option>
                                    <option value="../static/images/customer_cluster2.png">Customer Cluster by Page Views</option>
                                    <option value="../static/images/customer_cluster3.png">Customer Cluster by Total Hits</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    
                      <div class="card-img-holder mt-2">
                        <img id="imageToSwap" class="img-fluid" src="../static/images/customer_cluster.png">
                      </div>
                       
                  </div>
            </div>
          </div>
      </div>
      </div>
      </div>
        <!-- content-wrapper ends -->
        
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-centre">
            <span class="text-muted text-center float-sm-right text-sm-left d-block d-sm-inline-block">UofT Data Analytics Bootcamp 2020 </span>
            
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="../static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../static/js/off-canvas.js"></script>
  <script src="../static/js/hoverable-collapse.js"></script>
  <script src="../static/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../static/vendors/chart.js/Chart.min.js"></script>
  <script src="../static/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="../static/js/chart.js"></script>
  <script src="../static/js/dashboard.js"></script>
  <script src="../static/js/scattergraph.js"></script>
  <script src="../static/js/d3-lasso.min.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
