<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GCP APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script> var data = {{data|tojson}} </script>

</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Ecommerce Data
            <img class="nav-ufo" src="../static/images/Logo.png">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Google Analytics Insightings</h1>
      <p>Analyze Web Traffic</p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">

                <form method="POST" action="/send" role="form", name="input"></form>

                  <div class="form-group">
                        <label for="date">Enter a Start Date</label>
                        <input class="form-control" id="datetime1" name="input_date1" type="text" placeholder="20170701">
                  </div>
                  <div class="form-group">
                        <label for="date">Enter a End Date</label>
                        <input class="form-control" id="datetime2" name="input_date2" type="text" placeholder="20170703">
                  </div>
                  
                  <input id="filter-btn" type="submit" class="btn btn-default" value="Filter Table">
                
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Date</th>
                  <th class="table-head">UserID</th>
                  <th class="table-head">Hit</th>
                  <th class="table-head">Bounce</th>
                  <th class="table-head">Sessiontime</th>
                  <th class="table-head">Duration</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div class="col-md-5">
              <div id="line"></div>
            </div>
            <div class="col-md-5">
              <div id="geomap"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="goalflow"></div>
            </div>
          </div>
        </div>
      </div>
      <iframe width="2000" height="1600" src="https://datastudio.google.com/embed/reporting/14d3bf0f-3b40-4a1c-b38f-f2aae0710b7f/page/dQlEB" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <footer class="footer">
      <span class="bottom">Tracking User Behaviors</span>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  
</body>

</html>
